{% extends 'base.html' %}

{% block title %}
Text Summarizer
{% endblock title %}

{% block body %}

      <div id="waitttAmazingLover" style="color: deepskyblue;display: none;position:absolute;top:24%;left:13%;padding:2px;text-align: center;width: 242px;">
    <img src="https://www.w3schools.com/jquery/demo_wait.gif" width="64" height="64"><br>Waiting..</div>
           
  <section class="text-gray-600 body-font relative">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-col text-center w-full mb-12">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-gray-900">Text Summarizer</h1>
      <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Copy paste your text to get the relevant summary</p>
    </div>
    <form method="post" action="/summarizer">
    {% csrf_token %}
    <div class="lg:w-1/2 md:w-2/3 mx-auto">
      <div class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <div class="relative">
            <label for="name" class="leading-7 text-sm text-gray-600">Enter required number of words in the summary</label>
            <input type="number" id="num" name="num" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 text-base outline-none text-gray-700 py-1 px-3 leading-8 transition-colors duration-200 ease-in-out">
          </div>
        </div>
       
        <div class="p-2 w-full">
          <div class="relative">
            <label for="message" class="leading-7 text-sm text-gray-600">Enter / Copy Paste your Text below </label>
            <textarea id="message" name="message" class="w-full bg-gray-100 bg-opacity-50 rounded border border-gray-300 focus:border-indigo-500 focus:bg-white focus:ring-2 focus:ring-indigo-200 h-32 text-base outline-none text-gray-700 py-1 px-3 resize-none leading-6 transition-colors duration-200 ease-in-out"></textarea>
          </div>
         
          <p>
          Summary : <b>{{ result_summary}}</b>
         </p>
        </div>
        <div class="p-2 w-full">
          <button  class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" id="btn">Submit</button>
        </div>
    </form>
       
      </div>
    </div>
  </div>
</section>
{% endblock body %}